.reveal .slides {
}

.reveal .slides section>* {
  margin-left: 0;
  margin-right: 0;
}

.reveal .slides .fragment {
  text-align: left;
  color: #ff7700;
  font-size: 1em;
  background-color: rgba(37,37,37,0.86);
}
